@import 'fonts';
@import 'bootstrap';
@import 'variables';
@import 'components';

html,
body {
  margin: 0;
  font-family: $font-family-base;
  background-color: $neutral-2;
}

#__nuxt {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex: 1;
  display: flex !important;
  flex-direction: column;
  gap: $spacing-24;
  padding: $spacing-24 0;
}

h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding-left: $spacing-12;
  padding-right: $spacing-12;
  display: flex;
}

.card {
  padding: $spacing-24;
  border-radius: $spacing-16;
  background-color: #fff;
  box-shadow: none;
  border: none;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: $neutral-5;
  display: flex;
}

.separator-vert {
  width: 1px;
  background-color: $neutral-5;
  display: flex;
}

.modal.fade .modal-dialog {
  transition: transform 0.1s ease-out;
}

.table-wrapper {
  position: relative;

  &:has(.loading-spinner) {
    min-height: 160px;
  }

  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
  }
}

body:has(stellar-wallets-modal) {
  #teleports {
    position: relative;
    z-index: 10 !important;
  }
}

.market-table {
  th {
    color: $neutral-6;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border-bottom: 1px solid $neutral-13;

    span {
      width: 100%;
      display: block;
      text-align: var(--align, center);
      white-space: nowrap;
    }
  }

  tbody {
    tr {
      height: 80px;
      cursor: pointer;

      &:nth-child(even) {
        td {
          background-color: $neutral-2;
        }
      }
    }

    td {
      text-align: center;
      vertical-align: middle;
    }
  }

  .table-cell {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
  }

  .with-price {
    flex-direction: column;
    align-items: flex-end;

    span {
      color: $neutral-12;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
    }
  }

  &__asset {
    display: flex;
    align-items: center;
    gap: $spacing-8;

    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 2px;
      font-style: normal;

      &__name {
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
      }

      &__symbol {
        color: $neutral-6;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
      }
    }
  }

  &__action {
    gap: $spacing-8;
  }

  .no-data {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dialog-info-table {
  display: flex;
  flex-direction: column;

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;

    &:nth-child(even) {
      background-color: $neutral-2;
    }

    span {
      padding: $spacing-6 $spacing-16;

      &:nth-child(2) {
        text-align: right;
      }
    }

    a {
      padding: $spacing-6 $spacing-16;
      color: $dark;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: $spacing-8;

      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}
