@import 'fonts';
@import 'variables';
@import 'components';

html,
body {
  margin: 0;
  font-family: $font-family-base;
  background-color: $neutral-2;
  color: #fff;
  // background: linear-gradient(180deg, #002e40 0%, #021f2b 54%, #02151c 100%);
}

body {
  background:
    radial-gradient(700px circle at 50% 28%, rgba(34, 211, 238, 0.035), transparent 70%),
    radial-gradient(600px circle at 50% 78%, rgba(245, 158, 11, 0.025), transparent 70%), #0a0e17;
}

p {
  margin: 0;
}

#__nuxt {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex: 1;
  display: flex !important;
  flex-direction: column;
  gap: $spacing-24;
  padding: $spacing-24 0;
}

h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

.body--no-scroll {
  overflow: hidden;
}

.page-container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding-left: $spacing-12;
  padding-right: $spacing-12;
  display: flex;
}

.card {
  padding: $spacing-24;
  border-radius: $spacing-16;
  background-color: rgba(255, 255, 255, 0.04);
  box-shadow: none;
  border: none;
}

.text-num {
  font-family: $font-JetBrainsMono;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: $surface-neutral-08;
  display: flex;
}

.separator-vert {
  width: 1px;
  background-color: $surface-neutral-08;
  display: flex;
}

.hide-xs {
  @media (max-width: $breakpoint-xs) {
    display: none !important;
  }
}

.modal.fade {
  transition: opacity 0.1s ease-out !important;

  .modal-dialog {
    transition: transform 0.1s ease-out !important;
  }
}

.dialog-default {
  .modal-dialog {
    min-width: 442px;

    @media (max-width: $breakpoint-xs) {
      width: 100%;
      min-width: 100%;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: $spacing-8;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;

    img {
      width: 32px;
      height: 32px;
      object-fit: contain;
      border-radius: 50%;
    }
  }

  &__body {
    padding: $spacing-16 $spacing-24 $spacing-24;
    display: flex;
    flex-direction: column;
    gap: $spacing-16;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    gap: $spacing-32;

    .action-info {
      white-space: nowrap;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2px;

      span:first-child {
        color: $neutral-12;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
      }

      span:last-child {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
      }
    }

    .btn {
      width: 100%;
    }
  }
}

.table-wrapper {
  height: 100%;
  position: relative;

  @media (max-width: $breakpoint-sm) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
  }
}

body:has(stellar-wallets-modal) {
  #teleports {
    position: relative;
    z-index: 10 !important;
  }
}

.theme-dark {
  background-color: $dark;
  color: #fff;

  .table-wrapper {
    .loading-spinner {
      background: rgba(0, 0, 0, 0.5);
      color: #fff;

      .spinner-border {
        color: #fff !important;
      }
    }
  }
}
