.j-checkbox {
  display: flex !important;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  padding-top: 0;
  padding-bottom: 0;

  &.bold {
    font-weight: 500;
  }

  .form-check {
    &-input {
      border-radius: $spacing-xs;
      margin-top: 0 !important;
      background-size: 80%;
      cursor: pointer;

      &:checked {
        background-color: var(--checkbox-color, $primary) !important;
        border-color: var(--checkbox-color, $primary) !important;
      }

      &:focus {
        box-shadow: none !important;
      }
    }

    &-label {
      font-size: 14px;
      font-style: normal;
      line-height: 16px;
      letter-spacing: -0.14px;
      user-select: none;
    }
  }
}
