.dialog-info-table {
  display: flex;
  flex-direction: column;

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;

    &:nth-child(even) {
      background-color: $neutral-2;
    }

    span {
      padding: $spacing-6 $spacing-16;

      &:nth-child(2) {
        text-align: right;
      }
    }

    a {
      padding: $spacing-6 $spacing-16;
      color: $dark;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: $spacing-8;

      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}

body.body--dark {
  .dialog-info-table {
    &__item {
      a {
        color: #fff;
      }
      &:nth-child(even) {
        background-color: $neutral-18;
      }
    }
  }
}
