.dialog-info-card {
  padding: $spacing-lg;
  border-radius: $radius-2xl;
  border: 1px solid $border-primary;
  box-shadow: none;

  --background-color: rgba(0, 211, 238, 0.02);
  --border-color: rgba(0, 211, 238, 0.15);
  --box-shadow: rgba(0, 211, 238, 0.05);

  &--indigo {
    --background-color: rgba(99, 102, 241, 0.03);
    --border-color: rgba(99, 102, 241, 0.15);
    --box-shadow: rgba(99, 102, 241, 0.05);
  }

  &--success {
    --background-color: rgba(0, 201, 80, 0.02);
    --border-color: rgba(0, 201, 80, 0.15);
    --box-shadow: rgba(0, 201, 80, 0.05);
  }

  &--accent {
    --background-color: rgba(245, 159, 11, 0.02);
    --border-color: rgba(245, 159, 11, 0.15);
    --box-shadow: rgba(245, 159, 11, 0.05);
  }

  background-color: var(--background-color);
  border-color: var(--border-color);
  box-shadow: inset 0px 0px 10px 1px var(--box-shadow);

  &:has(.dialog-info-card__title) {
    .dialog-info-card__body {
      margin-top: 8px;
    }
  }

  &__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: $text-primary;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .label {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      color: $text-tertiary;
    }

    .value {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      color: $text-primary;
      font-family: $font-JetBrainsMono;
    }
  }
}
