.market-table {
  margin-bottom: 0 !important;
  th {
    color: $neutral-6;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-bottom: 1px solid $neutral-13;

    span {
      width: 100%;
      display: block;
      text-align: var(--align, center);
      white-space: nowrap;
    }
  }

  th {
    &.status {
      width: 140px;
    }
    &.action {
      width: 260px;
    }
    &.apy {
      width: 124px;
    }
    &.supply {
      width: 120px;
    }
    &.borrow {
      width: 138px;
      padding-right: 28px;
    }
  }

  td {
    &.borrow {
      padding-right: 28px;
    }
  }

  tbody {
    tr {
      height: 80px;
      cursor: pointer;

      &:hover {
        td {
          background: $neutral-2;
        }
      }
    }

    td {
      text-align: center;
      vertical-align: middle;
      transition: background 0.1s ease-in-out;
    }
  }

  .market-cell {
    span {
      text-transform: capitalize;
      max-width: 72px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .table-cell {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
  }

  .with-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    span {
      color: $neutral-6;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
    }
  }

  &__asset {
    position: relative;
    display: flex;
    align-items: center;
    gap: $spacing-8;

    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 2px;
      font-style: normal;

      &__name {
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
      }

      &__symbol {
        color: $neutral-6;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
      }
    }
  }

  &__action {
    gap: $spacing-8;
  }

  .no-data {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.no-table-data {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-16;
  font-size: 14px;
}

body.body--dark {
  .market-table {
    th {
      background: $neutral-18;
      color: $neutral-9;
      border-color: $neutral-12;
    }

    tr {
      &:hover {
        td {
          background: rgba(17, 17, 17, 0.562);
        }
      }
    }

    td {
      background: $neutral-18;
      color: #fff;
    }

    .market-table__asset__info__symbol {
      color: $neutral-7;
    }

    .with-price span {
      color: $neutral-7;
    }
  }

  .no-table-data {
    color: $neutral-7;
  }
}
