$label-variants: (
  primary: (
    background-color: $primary,
    color: #fff,
  ),
  secondary: (
    background-color: $neutral-5,
    color: $dark,
  ),
  warning: (
    background-color: rgba(228, 156, 11, 0.5),
    color: $dark,
  ),
  success: (
    background-color: rgba(8, 181, 118, 0.5),
    color: $dark,
  ),
  outline-success: (
    border: 1px solid $success,
    color: $dark,
  ),
  outline-warning: (
    border: 1px solid $warning,
    color: $dark,
  ),
);

$label-sizes: (
  lg: (
    font-size: 16px,
    font-weight: 700,
  ),
  md: (
    font-size: 14px,
    font-weight: 600,
  ),
  sm: (
    font-size: 12px,
    font-weight: 700,
    line-height: 16px,
  ),
);

.j-pill-label {
  width: fit-content;
  padding: $spacing-4 $spacing-14;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 50px;

  @each $name, $zises in $label-sizes {
    &.j-pill-label--#{$name} {
      @each $prop, $value in $zises {
        #{$prop}: #{$value};
      }
    }
  }

  @each $name, $styles in $label-variants {
    &.j-pill-label--#{$name} {
      @each $prop, $value in $styles {
        #{$prop}: #{$value};
      }
    }
  }
}

body.body--dark {
  .j-pill-label--success {
    background: $success;
  }

  .j-pill-label--warning {
    background: $warning;
  }
}
