@use 'sass:map';

$skeleton-variants: (
  rounded: (
    border-radius: 50%,
  ),
);

.j-skeleton {
  position: relative;
  overflow: hidden;

  background: $navi-500;

  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);

  animation: skeleton-pulse 2s ease-in-out infinite;

  @each $variant, $variant-properties in $skeleton-variants {
    &--#{$variant} {
      @each $property, $value in $variant-properties {
        #{$property}: #{$value};
      }
    }
  }

  &--full-width {
    width: 100% !important;
  }

  &--pill {
    border-radius: $radius-full !important;
  }
}

@keyframes skeleton-pulse {
  0% {
    opacity: 0.35;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.35;
  }
}
