.form-switch {
  display: flex !important;
  align-items: center;
  gap: 8px;

  .form-check-input {
    width: 40px !important;
    height: 20px;
    background-size: 24px;
    background-color: $muted-foreground !important;
    border-color: $muted-foreground !important;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    background-position: -2px center;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;

    &:checked {
      background-color: var(--toggle-color, $primary) !important;
      border-color: var(--toggle-color, $primary) !important;
      background-position: 17px center;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.theme-dark {
  .form-check-input {
    background-color: $neutral-16;
    border-color: $neutral-16 !important;
  }
}
