@font-face {
  font-family: 'NTSomic';
  src: url(~/assets/fonts/NTSomic-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NTSomic';
  src: url(~/assets/fonts/NTSomic-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NTSomic';
  src: url(~/assets/fonts/NTSomic-Semibold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NTSomic';
  src: url(~/assets/fonts/NTSomic-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 400 */
@font-face {
  font-family: 'Inter';
  src: url(~/assets/fonts/Inter-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 500 */
@font-face {
  font-family: 'Inter';
  src: url(~/assets/fonts/Inter-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 600 */
@font-face {
  font-family: 'Inter';
  src: url(~/assets/fonts/Inter-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* 700 */
@font-face {
  font-family: 'Inter';
  src: url(~/assets/fonts/Inter-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 400 */
@font-face {
  font-family: 'JetBrainsMono';
  src: url(~/assets/fonts/JetBrainsMono-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 500 */
@font-face {
  font-family: 'JetBrainsMono';
  src: url(~/assets/fonts/JetBrainsMono-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 600 */
@font-face {
  font-family: 'JetBrainsMono';
  src: url(~/assets/fonts/JetBrainsMono-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* 700 */
@font-face {
  font-family: 'JetBrainsMono';
  src: url(~/assets/fonts/JetBrainsMono-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
